/* 1 renk özelliği */
h1 {
    color: blue; /* Mavi

/* Paragrafın arka plan rengini RGB ile ayarlanarak yapılan */
p {
    background-color: rgb(255, 229, 204); /* RGB değeriyle */
}

/* HEX */
.highlight-text {
    color: #ff5733; /* HEX koduyla yazı rengi */
}
